In [19]:
# Importing dependencies required for our analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import scipy.stats as st
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [20]:
# Read csv file
crime_df = pd.read_csv("Crime Stats Cleaned v2.csv")

In [21]:
# Display data
crime_df.head()

,Year,County,Month,County Pop,County Pop ('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LTtotal_sum
0,2019.0,Alameda County,1.0,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019.0,Alameda County,2.0,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019.0,Alameda County,3.0,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019.0,Alameda County,4.0,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019.0,Alameda County,5.0,1668412,1668,62,0,1,23,38,180,31,38,111

In [22]:
# Check data types
crime_df.dtypes

Year                  float64
County                 object
Month                 float64
County Pop             object
County Pop ('000s)     object
Violent_sum            object
Homicide_sum           object
ForRape_sum            object
Robbery_sum            object
AggAssault_sum         object
Property_sum           object
Burglary_sum           object
VehicleTheft_sum       object
LTtotal_sum            object
dtype: object

In [23]:
# Rename columns 
crime_df.rename(columns={'County Pop':'Country_Pop',"County Pop ('000s)":"County_Pop_('000s)",'LTtotal_sum':'LarcenyTheft_sum'} , inplace = True)
crime_df

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019.0,Alameda County,1.0,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019.0,Alameda County,2.0,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019.0,Alameda County,3.0,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019.0,Alameda County,4.0,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019.0,Alameda County,5.0,1668412,1668,62,0,1,23,38,180,31,38,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34582,2022.0,Yuba County,9.0,84310,84,0,0,0,0,0,0,0,0,0
34583,2022.0,Yuba County,10.0,84310,84,0,0,0,0,0,2,0,0,2
34584,2022.0,Yuba County,11.0,84310,84,0,0,0,0,0,0,0,0,0
34585,2022.0,Yuba County,12.0,84310,84,0,0,0,0,0,1,0,0,1
34586,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Remove leading and trailing white spaces, replace empty values with nan then drop nan values 
# convert data types to int and string

crime_df_cleaned = crime_df.dropna()
for c in crime_df.columns:
    if c!="County":
        if crime_df[c].dtype == "object":
            crime_df_cleaned[c] = crime_df_cleaned[c].str.strip()
            crime_df_cleaned[c].replace('', np.nan, inplace=True)
        #Removed all the nan rows    
        crime_df_cleaned = crime_df_cleaned.dropna()
        #convert to int
        crime_df_cleaned[c] = crime_df_cleaned[c].astype("int64")

crime_df_cleaned["County"] = crime_df_cleaned["County"].astype('string')
crime_df_cleaned

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019,Alameda County,1,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,2,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,3,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,4,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,5,1668412,1668,62,0,1,23,38,180,31,38,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34581,2022,Yuba County,8,84310,84,0,0,0,0,0,0,0,0,0
34582,2022,Yuba County,9,84310,84,0,0,0,0,0,0,0,0,0
34583,2022,Yuba County,10,84310,84,0,0,0,0,0,2,0,0,2
34584,2022,Yuba County,11,84310,84,0,0,0,0,0,0,0,0,0
34585,2022,Yuba County,12,84310,84,0,0,0,0,0,1,0,0,1

In [25]:
#check data types 
crime_df_cleaned.dtypes

Year                   int64
County                string
Month                  int64
Country_Pop            int64
County_Pop_('000s)     int64
Violent_sum            int64
Homicide_sum           int64
ForRape_sum            int64
Robbery_sum            int64
AggAssault_sum         int64
Property_sum           int64
Burglary_sum           int64
VehicleTheft_sum       int64
LarcenyTheft_sum       int64
dtype: object

In [26]:
#Identify unique values on each crime :'Violent_sum','Homicide_sum','ForRape_sum','Robbery_sum','AggAssault_sum','Property_sum','Burglary_sum','VehicleTheft_sum','LarcenyTheft_sum'
unique_v = crime_df_cleaned["Violent_sum"].unique()
print('Violent' ,unique_v)
# unique_h = crime_df_cleaned["Homicide_sum"].unique()
# print('Homicide',unique_h)
# unique_r = crime_df_cleaned["ForRape_sum"].unique()
# print('Rape',unique_r)
# unique_rob = crime_df_cleaned["Robbery_sum"].unique()
# print('Robbery',unique_rob)
# unique_agg = crime_df_cleaned["AggAssault_sum"].unique()
# print('AggAssault',unique_agg)
# unique_pro = crime_df_cleaned["Property_sum"].unique()
# print('Property',unique_pro)
# unique_bur = crime_df_cleaned["Burglary_sum"].unique()
# print('Buglary',unique_bur)
# unique_v = crime_df_cleaned["VehicleTheft_sum"].unique()
# print('Vehicle',unique_v)
# unique_larceny = crime_df_cleaned["LarcenyTheft_sum"].unique()
# print('Larceny',unique_rob)

Violent [  50   49   52   60   62   53   51   54   43   46   70    8   13   12
   19   16   15   17   11   14    5    3    6    4    2    1   37   56
   44   63   48   55   24   10    9   29   21   34   38   47   35   33
   26   41   39   58   45   57   40   23   22    7  472  368  438  465
  457  500  453  477  516  491  428  455    0   36   32   42   28   27
   20   25   18   30   59   31   64   73   66   89   71  100  110   93
   80  107   92   84   79   -4   95   87  120   99  111   76   81  227
  178  212  221  274  282  324  283  218  238  209  170  188  233  222
  265  335  263  242  239  245  253  125  138  132  147  156  167  163
  165  148  157  131  137  408  374  427  476  418  570  538  499  482
  436  483  117   91   94  103   82   75   65   69   68  193  183  198
  197  173  201  205 2352 2055 2503 2440 2485 2607 2784 2559 2478 2474
 2258 2405   61  104   98   67   83   -1  109  126  154  136  135  129
  101  130  105  121  123  102   74  112   86  108  106  146  139  119
   72   78  181  162  134  177  175  152   88  184  236  225  266  207
  192  243  213  280  303  287  235  312  343  295  232  244  168  164
  180  145  116  187  234  240  270  252   85  113  141  169  114   -3
  398  357  431  467  478  430  391  424  355  481  432  514  512  581
  521  576  551  331  371  350  401  399  366  292  345  333  354  311
  397  369  421  385  443  407  361  387  370   97   77  153  159  151
  155  150  149  502  414  461  490  449  435  468  540   96   90  248
  241  262  277  302  365  310  342  293  271  289  290  272  341  269
  246  144  185  171  172  396  469  406  479  549  507  554  439  115
   -2  166  191  200  219  204  194  199 2378 2127 2109 2340 2675 2572
 2656 2554 2649 2389 2306  127  133  142  176  208  260  217  228  257
  309  301  347  304  158  190  211  249  251  288  140  422  362  448
  364  423  503  509  485  480  466  497  317  381  376  358  373  403
  326  300  329  323  359  363  321  298  305  346  386  375  118  124
  631  518  504  556  541  493  568  550  122  351  444  451  426  473
  380  322  267  268  325  296  307  258  143  189  484  488  486  463
  405  510  210  214  206  229 2373 2177 2356 2458 2557 2641 2965 2891
 2690 2806 2625 2417  128  202  314  255  409  348  389  337  203  226
  215  230  237  179  458  420  501  487  563  498  352  378  416  434
  441  429  412  382  306  336  417  383  356  250  264  388  595  564
  588  608  585  580  513  402  395  413  447  318  281  279  308  291
  224  460  454  532  558  489  675  575  611  195  216 2536 2452 2704
 2686 2860 2946 2812 2828 2775 2669 2268 2236  285  223  433  160  261
  196  456  522  565  517  505  437  494  464  400  372  332  353  320
  294  275  259  392  419]

In [27]:
#filtering the negative values for all the crimes
crime_cols = ['Violent_sum','Homicide_sum','ForRape_sum','Robbery_sum','AggAssault_sum','Property_sum','Burglary_sum','VehicleTheft_sum','LarcenyTheft_sum']
for c in crime_cols:
    crime_df_cleaned = crime_df_cleaned [ crime_df_cleaned[c]>=0]

crime_df_cleaned.head(5)

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019,Alameda County,1,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,2,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,3,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,4,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,5,1668412,1668,62,0,1,23,38,180,31,38,111

In [28]:
#crime_df_cleaned.to_csv("crime_df_cleaned_lastV.csv")
# newdf = pd.read_csv('crime_df_cleaned_lastV.csv')

In [29]:
newdf = crime_df_cleaned

In [30]:
newdf.columns

Index(['Year', 'County', 'Month', 'Country_Pop', 'County_Pop_('000s)',
       'Violent_sum', 'Homicide_sum', 'ForRape_sum', 'Robbery_sum',
       'AggAssault_sum', 'Property_sum', 'Burglary_sum', 'VehicleTheft_sum',
       'LarcenyTheft_sum'],
      dtype='object')

In [31]:
newdf.head(5)

,Year,County,Month,Country_Pop,County_Pop_('000s),Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LarcenyTheft_sum
0,2019,Alameda County,1,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,2,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,3,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,4,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,5,1668412,1668,62,0,1,23,38,180,31,38,111

In [32]:
newdf = newdf.rename(columns = {'Year': 'year',
                                'County': 'county',
                                'Month': 'month',
                                'Country_Pop': 'county_pop',
                                "County_Pop_('000s)": "county_pop_(000s)",
                                'Violent_sum': 'violent',
                                'Homicide_sum': 'homicide',
                                'ForRape_sum': 'rape',
                                'Robbery_sum': 'robbery',
                                'AggAssault_sum': 'agg_assault',
                                'Property_sum': 'property',
                                'Burglary_sum': 'burglary',
                                'VehicleTheft_sum': 'vehicle_theft',
                                'LarcenyTheft_sum': 'larceny_theft'})
newdf.columns

Index(['year', 'county', 'month', 'county_pop', 'county_pop_(000s)', 'violent',
       'homicide', 'rape', 'robbery', 'agg_assault', 'property', 'burglary',
       'vehicle_theft', 'larceny_theft'],
      dtype='object')

In [33]:
# newdf.drop("county_pop_('000s')", axis=1, inplace=True)
# newdf

In [34]:
newdf['month'] = newdf['month'].replace({1: 'January',
                                        2: 'February',
                                        3: 'March',
                                        4: 'April',
                                        5: 'May',
                                        6: 'June',
                                        7: 'July',
                                        8: 'August',
                                        9: 'September',
                                        10: 'October',
                                        11: 'November',
                                        12: 'December'})
newdf.head(5)

,year,county,month,county_pop,county_pop_(000s),violent,homicide,rape,robbery,agg_assault,property,burglary,vehicle_theft,larceny_theft
0,2019,Alameda County,January,1668412,1668,50,0,1,19,30,195,23,48,124
1,2019,Alameda County,February,1668412,1668,49,1,2,19,27,187,34,47,106
2,2019,Alameda County,March,1668412,1668,52,1,1,20,30,153,20,23,110
3,2019,Alameda County,April,1668412,1668,60,0,3,15,42,174,41,34,99
4,2019,Alameda County,May,1668412,1668,62,0,1,23,38,180,31,38,111

In [35]:
# # Create a DataFrame of the totals for each county by year.
# census_total_group = census_totals_df.groupby(["Year", "State"])

# state_totals_df = census_total_group.sum()
# state_totals_df

In [38]:
# Create a data frame for each year
df_2019 = newdf.loc[newdf['year'] == 2019]
df_2019.set_index('county', inplace=True)
df_2020 = newdf.loc[newdf['year'] == 2020]
df_2020.set_index('county', inplace=True)
df_2021 = newdf.loc[newdf['year'] == 2021]
df_2021.set_index('county', inplace=True)
df_2022 = newdf.loc[newdf['year'] == 2022]
df_2022.set_index('county', inplace=True)

In [48]:
df_2019.head()

,year,month,county_pop,county_pop_(000s),violent,homicide,rape,robbery,agg_assault,property,burglary,vehicle_theft,larceny_theft
county,,,,,,,,,,,,,
Alameda County,2019,January,1668412,1668,50,0,1,19,30,195,23,48,124
Alameda County,2019,February,1668412,1668,49,1,2,19,27,187,34,47,106
Alameda County,2019,March,1668412,1668,52,1,1,20,30,153,20,23,110
Alameda County,2019,April,1668412,1668,60,0,3,15,42,174,41,34,99
Alameda County,2019,May,1668412,1668,62,0,1,23,38,180,31,38,111

In [50]:
 
group_2019 = df_2019.groupby(["county"])["violent","homicide"]
data_2019 = group_2019.sum()
data_2019.reset_index("county", inplace=True)
data_2019.head()

             county  violent  homicide
0    Alameda County     9706        96
1     Alpine County       13         0
2     Amador County      108         1
3      Butte County     1024         7
4  Calaveras County      145         1

In [39]:
# Group by year data frame to find the highest count for each crime in 2019
group_2019 = df_2019.groupby(["year", "county", "county_pop",  "county_pop_(000s)"])
data_2019 = group_2019.sum()
data_2019.reset_index("county", inplace=True)
data_2019

                                                   county  violent  homicide  \
year county_pop county_pop_(000s)
2019 1668412    1668                       Alameda County     9706        96
     1113       1                           Alpine County       13         0
     39693      40                          Amador County      108         1
     218726     219                          Butte County     1024         7
     46119      46                       Calaveras County      145         1
     21474      21                          Colusa County       58         0
     1152883    1153                  Contra Costa County     4113        53
     27903      28                       Del Norte County      109         2
     193057     193                      El Dorado County      327         5
     997847     998                         Fresno County     4737        55
     28445      28                           Glenn County       91         2
     135839     136                       Humboldt County      626         6
     180439     180                       Imperial County      589         7
     17993      18                            Inyo County       94         1
     898898     899                           Kern County     5563        84
     152727     153                          Kings County      757         4
     64463      64                            Lake County      347         5
     30694      31                          Lassen County      269         0
     10011602   10012                  Los Angeles County    56265       508
     156717     157                         Madera County      830         3
     259085     259                          Marin County      516         1
     17117      17                        Mariposa County       79         0
     86932      87                       Mendocino County      336         3
     277114     277                         Merced County     1520        12
     8866       9                            Modoc County       43         0
     14450      14                            Mono County       67         0
     433380     433                       Monterey County     1433        15
     137678     138                           Napa County      731         1
     99648      100                         Nevada County      238         3
     3170851    3171                        Orange County     6783        57
     398918     399                         Placer County      591         7
     19052      19                          Plumas County      128         1
     2465569    2466                     Riverside County     7511       118
     1551660    1552                    Sacramento County     6765        78
     62803      63                      San Benito County      147         1
     2177279    2177                San Bernardino County    12216       145
     3330459    3330                     San Diego County    11392        86
     878826     879                  San Francisco County     6092        40
     761571     762                    San Joaquin County     5952        50
     282728     283                San Luis Obispo County      628         5
     764810     765                      San Mateo County     1837        10
     445464     445                  Santa Barbara County     1529        17
     1922411    1922                   Santa Clara County     6361        45
     272870     273                     Santa Cruz County     1106         6
     179645     180                         Shasta County      623         6
     2959       3                           Sierra County        1         0
     43663      44                        Siskiyou County      176         6
     447434     447                         Solano County     2114        21
     492318     492                         Sonoma County     2001         9
     549761     550                     Stanislaus County     2908        25
     96910      97                          Sutter County      294         4
     65186      65                          Tehama County      256         3
     12337      12                         Trinity County       61         2
     465751     466                         Tulare County     1692        20
     54290      54                        Tuolumne County      195         2
     844203     844                        Ventura County     1830        24
     220019     220                           Yolo County      637         6
     78549      79                            Yuba County      326         7

                                   rape  robbery  agg_assault  property  \
year county_pop county_pop_(000s)
2019 1668412    1668                704     4900         4006     66349
     1113       1                     2        0           11        32
     39693      40                    9        8           90       638
     218726     219                 180      167          670      5322
     46119      46                   34        9          101       838
     21474      21                   15        9           34       347
     1152883    1153                321     1510         2229     28405
     27903      28                   13       26           68       804
     193057     193                  58       54          210      2526
     997847     998                 267      918         3497     23195
     28445      28                   12       16           61       526
     135839     136                  66      149          405      3926
     180439     180                  28       80          474      3476
     17993      18                   18        9           66       393
     898898     899                 455     1237         3787     29574
     152727     153                  71       88          594      2466
     64463      64                   43       62          237      1228
     30694      31                   16       10          243       403
     10011602   10012              4181    18525        33051    222907
     156717     157                  68       94          665      2693
     259085     259                  44      145          326      5443
     17117      17                    8        2           69       182
     86932      87                   45       51          237      1255
     277114     277                  82      202         1224      6898
     8866       9                     4        2           37        66
     14450      14                   18        1           48       187
     433380     433                 139      368          911      7735
     137678     138                  91       70          569      2162
     99648      100                  16       17          202      1191
     3170851    3171                895     2206         3625     59012
     398918     399                  95      130          359      6060
     19052      19                    9        5          113       314
     2465569    2466                496     2149         4748     57986
     1551660    1552                407     2035         4245     36224
     62803      63                   22       29           95       472
     2177279    2177                891     3102         8078     47373
     3330459    3330               1107     2876         7323     55030
     878826     879                 330     3173         2549     50012
     761571     762                 301     1560         4041     21409
     282728     283                  95       76          452      5113
     764810     765                 322      552          953     16272
     445464     445                 211      295         1006      7307
     1922411    1922                918     1836         3562     47606
     272870     273                 137      182          781      7005
     179645     180                  63       77          477      2413
     2959       3                     0        0            1        31
     43663      44                   13        9          148       630
     447434     447                 264      661         1168     13161
     492318     492                 279      240         1473      6688
     549761     550                 170      724         1989     14274
     96910      97                   33       62          195      2322
     65186      65                   46       30          177      1623
     12337      12                   10        9           40       237
     465751     466                 194      389         1089     10625
     54290      54                   68       13          112      1074
     844203     844                 232      527         1047     12634
     220019     220                  87      176          368      6644
     78549      79                   41       61          217      1844

                                   burglary  vehicle_theft  larceny_theft
year county_pop county_pop_(000s)
2019 1668412    1668                   6493          10216          49640
     1113       1                        13              4             15
     39693      40                      165             37            436
     218726     219                    1111            868           3343
     46119      46                      297             69            472
     21474      21                      109             56            182
     1152883    1153                   3563           4565          20277
     27903      28                      251             47            506
     193057     193                     618            145           1763
     997847     998                    4694           3483          15018
     28445      28                      109             83            334
     135839     136                     796            535           2595
     180439     180                     769            471           2236
     17993      18                      115             18            260
     898898     899                    7590           5884          16100
     152727     153                     410            394           1662
     64463      64                      379            266            583
     30694      31                      136             41            226
     10011602   10012                 37739          37266         147902
     156717     157                     682            416           1595
     259085     259                    1001            420           4022
     17117      17                       53              5            124
     86932      87                      357            162            736
     277114     277                    1418           1391           4089
     8866       9                        20              8             38
     14450      14                       38             11            138
     433380     433                    1524           1649           4562
     137678     138                     396            189           1577
     99648      100                     329            177            685
     3170851    3171                   8507           6701          43804
     398918     399                     982            538           4540
     19052      19                      116             23            175
     2465569    2466                  10289          10248          37449
     1551660    1552                   6611           5397          24216
     62803      63                       96             93            283
     2177279    2177                   9965           9068          28340
     3330459    3330                   7666           9666          37698
     878826     879                    4685           4284          41043
     761571     762                    3771           3078          14560
     282728     283                     996            323           3794
     764810     765                    2222           1522          12528
     445464     445                    1269           1046           4992
     1922411    1922                   6827           8084          32695
     272870     273                    1039            828           5138
     179645     180                     630            581           1202
     2959       3                        15              0             16
     43663      44                      163             92            375
     447434     447                    3727           2065           7369
     492318     492                    1226            560           4902
     549761     550                    2628           2491           9155
     96910      97                      387            337           1598
     65186      65                      436            254            933
     12337      12                       83             32            122
     465751     466                    2025           1845           6755
     54290      54                      375            101            598
     844203     844                    1946           1234           9454
     220019     220                     925            587           5132
     78549      79                      405            475            964

In [52]:

# data_2019["most_violent"] = data_2019.
# data_2019

In [41]:
# Group by year data frame to find the highest count for each crime in 2020
group_2020 = df_2020.groupby(["year", "county", "county_pop",  "county_pop_(000s)"])
data_2020 = group_2020.sum()
data_2020.reset_index("county", inplace=True)
max_count_2020 = data_2020.max()
max_count_2020

county           Yuba County
violent                54525
homicide                 677
rape                    3765
robbery                15194
agg_assault            34889
property              212736
burglary               36602
vehicle_theft          49436
larceny_theft         126698
dtype: object

In [42]:
# Group by year data frame to find the highest count for each crime in 2020
group_2021 = df_2021.groupby(["year", "county", "county_pop",  "county_pop_(000s)"])
data_2021 = group_2021.sum()
data_2021.reset_index("county", inplace=True)
max_count_2021 = data_2021.max()
max_count_2021

county           Yuba County
violent                58104
homicide                 838
rape                    3923
robbery                15619
agg_assault            37724
property              227135
burglary               35713
vehicle_theft          58113
larceny_theft         133309
dtype: object

In [43]:
# Group by year data frame to find the highest count for each crime in 2020
group_2022 = df_2022.groupby(["year", "county", "county_pop",  "county_pop_(000s)"])
data_2022 = group_2022.sum()
data_2022.reset_index("county", inplace=True)
max_count_2022 = data_2022.max()
max_count_2022

county           Yuba County
violent                60956
homicide                 738
rape                    3875
robbery                17418
agg_assault            38925
property              243651
burglary               39740
vehicle_theft          57772
larceny_theft         146139
dtype: object

In [44]:
# Find the min count values for eahc crime by county
crimes_df = data_2022[['violent','homicide','rape','robbery','agg_assault','property','burglary','vehicle_theft','larceny_theft']]

for c in crimes_df:
    c = data_2022.count().min()
    data_2022.append(c)
    print(c)

TypeError: cannot concatenate object of type '<class 'int'>'; only Series and DataFrame objs are valid

In [45]:
# Loop through dataframe and find max values from each crime 
max_col_value = ['violent','homicide','rape','robbery','agg_assault','property','burglary','vehicle_theft','larceny_theft']
for c in max_col_value:

SyntaxError: incomplete input (320718520.py, line 5)

In [46]:
# Set the a list of only the columns we want the max values from
max_col_value = ['violent','homicide','rape','robbery','agg_assault','property','burglary','vehicle_theft','larceny_theft']
# Get the max value from each data frame
max_2019 = df_2019[max_col_value].max(axis=1)
max_2020 = df_2020[max_col_value].max(axis=1)
max_2021 = df_2021[max_col_value].max(axis=1)
max_2022 = df_2022[max_col_value].max(axis=1)

In [ ]:
max_2019.head(5)

In [ ]:
# # Group by the year, county and county population
# df = newdf.groupby(['year', 'county', 'county_pop', 'county_pop_(000s)','month']).sum()
# df.reset_index(inplace=True)
# # y_2019.drop('year', axis=1, inplace=True)
# # y_2019.set_index('county', inplace=True)
# # df_2019 = y_2019.groupby(['county_pop', 'county']).sum().sort_values('county')
# df.head(5)

In [ ]:
# df['%violent'] = df['violent']/df['county_pop_(000s)']
# df.head(10)

In [47]:
# Convert a crime column into a t list and iderate through in a list of comprehension 
crime_column = list(df.columns)
crime_column_list = [i for i in crime_column if i not in ('year', 'county', 'month', 'county_pop')]
# Filter by year 2019
y_2019 = df.loc[df['year'] == 2019]
y_2019.set_index('county', inplace=True)
# Fileter by year 2020
y_2020 = df.loc[df['year'] == 2020]
y_2020.set_index('county', inplace=True)

# Get all the counties population summary
summary_df = y_2019['county_pop'].to_frame()
summary_df.reset_index(inplace=True)

y_2019

NameError: name 'df' is not defined

In [ ]:
# Display(summary_df)
for c in crime_column_list:
    df_crimes = (y_2020[c]-y_2019[c])/y_2019[c]
    df_crimes.sort_values(ascending=False)
    df_crimes = df_crimes.to_frame()
    df_crimes.reset_index(inplace=True)
    #print(df_crimes.dropna().sort_values(ascending=False).head(9))
    # Merge Data Frames and comprare between 2019 and 2020
    summary_df =  summary_df.merge(df_crimes)
summary_df

In [ ]:
# # Filter data by 2019
# y_2019 = df.loc[df['year'] == 2019]
# y_2019.set_index('county', inplace=True)
# y_2019.head(5)

In [ ]:
# Create a Data frame only with crime columns
crimes_2019_df = y_2019[['violent','homicide','rape','robbery','agg_assault','property','burglary','vehicle_theft','larceny_theft']]

# # loop to each colum to asses the max values from each crime
# for c in crimes_2019_df.columns:
#     crimes_2019_df[column] = crimes_2019_df[column].sort_values(ascending=True).values
   
#     print(crimes_2019_df)

In [ ]:
# # Filter data by 2020
# y_2020 = df.loc[df['year'] == 2020]
# y_2020.set_index('county', inplace=True)
# y_2020.head(5)

In [ ]:
# # Filter data by 2021
# y_2021 = df.loc[df['year'] == 2021]
# y_2021.set_index('county', inplace=True)
# y_2021.head(5)

In [ ]:
# # Filter data by 2022
# y_2022 = df.loc[df['year'] == 2021]
# y_2022.set_index('county', inplace=True)
# y_2022.head(5)

In [ ]:
# Compare property crime between 2019 and 2020
df_property = (y_2020['property']-y_2019['property'])/y_2019['property']
df_property.sort_values(ascending=False)

In [ ]:
# Compare violenr crim between 2020 and 2019
df_violent = (y_2020['violent']-y_2019['violent'])/y_2019['violent']
df_violent.sort_values(ascending=False)
df_violent

In [ ]:
# Compare property crime between 2020 and 2021
df_property = (y_2021['property']-y_2020['property'])/y_2020['property']
df_property.sort_values(ascending=False)

In [ ]:
# Compare property crime between 2021 and 2022
df_property = (y_2022['property']-y_2022['property'])/y_2022['property']
df_property.sort_values(ascending=False)

In [ ]:
df_violent = (y_2020['violent']-y_2019['violent'])/y_2019['violent']
df_violent.sort_values(ascending=False)
df_violent

In [ ]:
y_2019.loc['Shasta County']

In [ ]:
# Create a list of County names
county_names = y_19["county"].unique()
county_names_list = list(county_names)

In [ ]:
crime_columns = list(y_19.columns)
# item_list = [e for e in item_list if e not in ('item', 5)]
crime_columns_list = [i for i in crime_columns if i not in ('year', 'county', 'month', 'county_pop')]
crime_columns_list

In [ ]:
crime_in_county =

In [ ]:
# Create A loop to extarct specific data
county_19 = [county_names_list]
#crime_19 = 
for i, row in y_19.iterrows():
    if robbery in county_19[3]
    print()

In [ ]:
march_count_19 = y_19.loc[(y_19["county"] == 'Alameda County') & (y_19["month"] == 'March')].sum()
march_count_19

In [ ]:
# newdf_2019 = newdf.groupby(['year', 'month']).sum()
# newdf_2019.head(5)

In [ ]:
# newdf1 = newdf_2019["year"].unique()
# year_n = pd.to_datetime(newdf1, format='%y').strftime('%B')

# #year_n

# # year_n1 = list(year_n)

# #year_19 = newdf['year'].unique('2019')
# # year_20 = newdf['year'].unique()
# # year_21 = newdf['year'].unique()
# # year_22 = newdf['year'].unique()

# print(len(year_n))
# # print(len(year_20))
# # print(len(year_21))
# # print(len(year_22))

In [ ]:
county_pop = newdf['county_pop'].unique()
county_count = newdf['county'].unique()
# y_2019 = newdf.groupby(['year', 'month']).sum()
# newdf_2019
print(len(county_pop))
print(len(county_count))